* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    height: 900px;
    align-items: center;
}
.calc {
    display: flex;
    width: 480px;
    height: 700px;
    flex-wrap: wrap;
    border: 2px solid black;
    background: orange;
    justify-content: center;    
}
.calc-keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
    margin: 10px;
    background: orangered;
    width: 450px;    
}
.row{
    display: flex;
    width: 450px;
    flex-flow: row wrap;
    height: 98px;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */    
}
.row2{
    display: flex;
    flex-flow: row wrap;
    width: 450px;
}
.calc-keyboard-btn {
    width: 25%;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: aqua;
    /* margin-top: 2px; */
    font-size: 35px;
}
.plus{
    width: 110px;
    height: 198px;
    position: relative;
    /* margin-left: 1px; */
}
.jc{
    width: 223px;
}
.calc-keyboard-btn:hover {
    background-color: whitesmoke;
}
.calc-screen {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 45px;
    height: 160px;
    width: 440px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background: wheat;
}
.preview-screen {
    font-size: 35px;
    color: blue;
}
.current-screen {
    font-size: 45px;
}